<aside class="sidebar sidebar-primary" id="sidebar-primary" role="complementary">
    <h1 class="screen-reader-text">Sidebar</h1>
    <section id="text-2" class="widget widget_text">
        <h2 class="widget-title">关于我</h2>
        <div class="textwidget">
            <div id="profile">
                <div id="profile_picture"><img src="/images/logo.jpg" /></div>
                <div id="profile_intro">
                    <p><span class="name">tuiche000</span></p>
                    <p class="intro">前端工程师</p>
                </div>
            </div>
            <p>
            </p>
        </div>
    </section>
    <section id="search-2" class="widget widget_search">
        <div class='search-form-container'>
            <form role="search" method="get" class="search-form" action="https://www.laruence.com/">
                <label class="screen-reader-text" for="search-field">Search</label>
                <input id="search-field" type="search" class="search-field" value="" name="s" title="Search for:"
                    placeholder="Search for..." />
                <input type="submit" class="search-submit" value='Search' />
            </form>
        </div>
    </section>
    <section id="text-5" class="widget widget_text">
        <h2 class="widget-title">近期文章</h2>
        <div class="textwidget">
            <div id="projects" style="line-height: 22px;"><a href="http://pecl.php.net/package/yaf" target="_blank"
                    rel="noopener noreferrer">Yaf</a>:  PHP Framework in PHP extension<br />
                <a href="http://pecl.php.net/package/yar" target="_blank" rel="noopener noreferrer">Yar</a>:
                 Light, concurrent RPC framework<br />
                <a href="http://pecl.php.net/yac" target="_blank" rel="noopener noreferrer">Yac</a>:  PHP
                Contents cache<br />
                <a href="https://github.com/laruence/yaconf" target="_blank" rel="noopener noreferrer">Yaconf</a>:  PHP
                Configurations Container<br />
                <a href="http://pecl.php.net/package/taint" target="_blank" rel="noopener noreferrer">Taint</a>:  XSS
                code sniffer<br />
                <a href="http://pecl.php.net/package/lua" target="_blank" rel="noopener noreferrer">Lua</a>:
                 Embedded lua interpreter<br />
                <a href="http://pecl.php.net/package/msgpack" target="_blank" rel="noopener noreferrer">MsgPack</a>:
                 MessagePack in PHP extension<br />
                <a href="http://pecl.php.net/package/couchbase" target="_blank" rel="noopener noreferrer">Couchbase</a>:
                 Libcouchbase wrapper<br />
                See also:  <a href="http://github.com/laruence">laruence@github</a></div>
        </div>
    </section>
    <section id="recent-comments-3" class="widget widget_recent_comments">
        <h2 class="widget-title">近期评论</h2>
        <ul id="recentcomments">
            <li class="recentcomments"><span class="comment-author-link"><a href='https://www.phpman.cc/'
                        rel='external nofollow ugc' class='url'>sam</a></span> on <a
                    href="https://www.laruence.com/2020/07/09/6015.html#comment-219137">一个关于if
                    else容易迷惑的问题</a></li>
            <li class="recentcomments"><span class="comment-author-link">simon liu</span> on <a
                    href="https://www.laruence.com/guestbook#comment-219053">留言</a></li>
            <li class="recentcomments"><span class="comment-author-link">dufei</span> on <a
                    href="https://www.laruence.com/2009/08/31/1072.html#comment-218965">纯属娱乐(彩蛋)</a></li>
            <li class="recentcomments"><span class="comment-author-link">tc x</span> on <a
                    href="https://www.laruence.com/2020/02/28/5261.html#comment-218926">PHP_INT_MIN 和
                    -9223372036854775808</a></li>
            <li class="recentcomments"><span class="comment-author-link"><a href='https://minecraft-classic.com'
                        rel='external nofollow ugc' class='url'>minecraft classic</a></span> on <a
                    href="https://www.laruence.com/2020/03/23/5605.html#comment-218879">深入理解PHP7内核之OBJECT</a>
            </li>
        </ul>
    </section>
    <section id="tag_cloud-2" class="widget widget_tag_cloud">
        <h2 class="widget-title">标签</h2>
        <div class="tagcloud"><a href="https://www.laruence.com/tag/apache"
                class="tag-cloud-link tag-link-58 tag-link-position-1" style="font-size: 11.083333333333pt;"
                aria-label="Apache (6 items)">Apache</a>
            <a href="https://www.laruence.com/tag/apc" class="tag-cloud-link tag-link-60 tag-link-position-2"
                style="font-size: 11.083333333333pt;" aria-label="apc (6 items)">apc</a>
            <a href="https://www.laruence.com/tag/bug" class="tag-cloud-link tag-link-76 tag-link-position-3"
                style="font-size: 10.5pt;" aria-label="bug (5 items)">bug</a>
            <a href="https://www.laruence.com/tag/c" class="tag-cloud-link tag-link-80 tag-link-position-4"
                style="font-size: 9pt;" aria-label="C++ (3 items)">C++</a>
            <a href="https://www.laruence.com/tag/core" class="tag-cloud-link tag-link-104 tag-link-position-5"
                style="font-size: 11.083333333333pt;" aria-label="core (6 items)">core</a>
            <a href="https://www.laruence.com/tag/curl" class="tag-cloud-link tag-link-110 tag-link-position-6"
                style="font-size: 9pt;" aria-label="curl (3 items)">curl</a>
            <a href="https://www.laruence.com/tag/extension" class="tag-cloud-link tag-link-138 tag-link-position-7"
                style="font-size: 10.5pt;" aria-label="Extension (5 items)">Extension</a>
            <a href="https://www.laruence.com/tag/ie" class="tag-cloud-link tag-link-198 tag-link-position-8"
                style="font-size: 9pt;" aria-label="IE (3 items)">IE</a>
            <a href="https://www.laruence.com/tag/javascript" class="tag-cloud-link tag-link-220 tag-link-position-9"
                style="font-size: 13.833333333333pt;" aria-label="javascript (14 items)">javascript</a>
            <a href="https://www.laruence.com/tag/js" class="tag-cloud-link tag-link-225 tag-link-position-10"
                style="font-size: 9pt;" aria-label="js (3 items)">js</a>
            <a href="https://www.laruence.com/tag/json" class="tag-cloud-link tag-link-228 tag-link-position-11"
                style="font-size: 9pt;" aria-label="json (3 items)">json</a>
            <a href="https://www.laruence.com/tag/mysql" class="tag-cloud-link tag-link-270 tag-link-position-12"
                style="font-size: 9.8333333333333pt;" aria-label="mysql (4 items)">mysql</a>
            <a href="https://www.laruence.com/tag/nginx" class="tag-cloud-link tag-link-281 tag-link-position-13"
                style="font-size: 9.8333333333333pt;" aria-label="nginx (4 items)">nginx</a>
            <a href="https://www.laruence.com/tag/opcache" class="tag-cloud-link tag-link-286 tag-link-position-14"
                style="font-size: 9.8333333333333pt;" aria-label="opcache (4 items)">opcache</a>
            <a href="https://www.laruence.com/tag/performance" class="tag-cloud-link tag-link-300 tag-link-position-15"
                style="font-size: 10.5pt;" aria-label="Performance (5 items)">Performance</a>
            <a href="https://www.laruence.com/tag/php" class="tag-cloud-link tag-link-305 tag-link-position-16"
                style="font-size: 22pt;" aria-label="PHP (143 items)">PHP</a>
            <a href="https://www.laruence.com/tag/php5-4" class="tag-cloud-link tag-link-326 tag-link-position-17"
                style="font-size: 9.8333333333333pt;" aria-label="PHP5.4 (4 items)">PHP5.4</a>
            <a href="https://www.laruence.com/tag/php5-4%e6%96%b0%e7%89%b9%e6%80%a7"
                class="tag-cloud-link tag-link-327 tag-link-position-18" style="font-size: 13.25pt;"
                aria-label="PHP5.4新特性 (12 items)">PHP5.4新特性</a>
            <a href="https://www.laruence.com/tag/php7" class="tag-cloud-link tag-link-328 tag-link-position-19"
                style="font-size: 13pt;" aria-label="PHP7 (11 items)">PHP7</a>
            <a href="https://www.laruence.com/tag/php8" class="tag-cloud-link tag-link-330 tag-link-position-20"
                style="font-size: 10.5pt;" aria-label="PHP8 (5 items)">PHP8</a>
            <a href="https://www.laruence.com/tag/php-8" class="tag-cloud-link tag-link-737 tag-link-position-21"
                style="font-size: 9pt;" aria-label="PHP 8 (3 items)">PHP 8</a>
            <a href="https://www.laruence.com/tag/php-extension"
                class="tag-cloud-link tag-link-311 tag-link-position-22" style="font-size: 11.083333333333pt;"
                aria-label="PHP extension (6 items)">PHP extension</a>
            <a href="https://www.laruence.com/tag/php%e5%8e%9f%e7%90%86"
                class="tag-cloud-link tag-link-335 tag-link-position-23" style="font-size: 9.8333333333333pt;"
                aria-label="php原理 (4 items)">php原理</a>
            <a href="https://www.laruence.com/tag/php%e5%ba%94%e7%94%a8"
                class="tag-cloud-link tag-link-342 tag-link-position-24" style="font-size: 9pt;"
                aria-label="PHP应用 (3 items)">PHP应用</a>
            <a href="https://www.laruence.com/tag/php%e6%89%a9%e5%b1%95"
                class="tag-cloud-link tag-link-344 tag-link-position-25" style="font-size: 9pt;"
                aria-label="PHP扩展 (3 items)">PHP扩展</a>
            <a href="https://www.laruence.com/tag/php%e6%ba%90%e7%a0%81"
                class="tag-cloud-link tag-link-349 tag-link-position-26" style="font-size: 9.8333333333333pt;"
                aria-label="php源码 (4 items)">php源码</a>
            <a href="https://www.laruence.com/tag/php%e6%ba%90%e7%a0%81%e5%88%86%e6%9e%90"
                class="tag-cloud-link tag-link-350 tag-link-position-27" style="font-size: 12.333333333333pt;"
                aria-label="php源码分析 (9 items)">php源码分析</a>
            <a href="https://www.laruence.com/tag/sapi" class="tag-cloud-link tag-link-394 tag-link-position-28"
                style="font-size: 9.8333333333333pt;" aria-label="SAPI (4 items)">SAPI</a>
            <a href="https://www.laruence.com/tag/session" class="tag-cloud-link tag-link-402 tag-link-position-29"
                style="font-size: 10.5pt;" aria-label="session (5 items)">session</a>
            <a href="https://www.laruence.com/tag/valgrind" class="tag-cloud-link tag-link-458 tag-link-position-30"
                style="font-size: 9pt;" aria-label="valgrind (3 items)">valgrind</a>
            <a href="https://www.laruence.com/tag/vim" class="tag-cloud-link tag-link-463 tag-link-position-31"
                style="font-size: 9pt;" aria-label="vim (3 items)">vim</a>
            <a href="https://www.laruence.com/tag/yac" class="tag-cloud-link tag-link-476 tag-link-position-32"
                style="font-size: 9.8333333333333pt;" aria-label="yac (4 items)">yac</a>
            <a href="https://www.laruence.com/tag/yaf" class="tag-cloud-link tag-link-478 tag-link-position-33"
                style="font-size: 14.5pt;" aria-label="Yaf (17 items)">Yaf</a>
            <a href="https://www.laruence.com/tag/yaf_loader" class="tag-cloud-link tag-link-683 tag-link-position-34"
                style="font-size: 9.8333333333333pt;" aria-label="Yaf_Loader (4 items)">Yaf_Loader</a>
            <a href="https://www.laruence.com/tag/yar" class="tag-cloud-link tag-link-482 tag-link-position-35"
                style="font-size: 10.5pt;" aria-label="Yar (5 items)">Yar</a>
            <a href="https://www.laruence.com/tag/zval" class="tag-cloud-link tag-link-503 tag-link-position-36"
                style="font-size: 9pt;" aria-label="zval (3 items)">zval</a>
            <a href="https://www.laruence.com/tag/%e4%bc%98%e5%8c%96"
                class="tag-cloud-link tag-link-516 tag-link-position-37" style="font-size: 8pt;"
                aria-label="优化 (2 items)">优化</a>
            <a href="https://www.laruence.com/tag/%e4%bd%8e%e6%a6%82%e7%8e%87core"
                class="tag-cloud-link tag-link-518 tag-link-position-38" style="font-size: 8pt;"
                aria-label="低概率core (2 items)">低概率core</a>
            <a href="https://www.laruence.com/tag/%e5%86%85%e6%a0%b8"
                class="tag-cloud-link tag-link-525 tag-link-position-39" style="font-size: 9pt;"
                aria-label="内核 (3 items)">内核</a>
            <a href="https://www.laruence.com/tag/%e5%8e%9f%e7%90%86"
                class="tag-cloud-link tag-link-535 tag-link-position-40" style="font-size: 9.8333333333333pt;"
                aria-label="原理 (4 items)">原理</a>
            <a href="https://www.laruence.com/tag/%e5%bc%80%e5%8f%91php%e6%89%a9%e5%b1%95"
                class="tag-cloud-link tag-link-561 tag-link-position-41" style="font-size: 9pt;"
                aria-label="开发php扩展 (3 items)">开发php扩展</a>
            <a href="https://www.laruence.com/tag/%e6%80%a7%e8%83%bd"
                class="tag-cloud-link tag-link-572 tag-link-position-42" style="font-size: 11.5pt;"
                aria-label="性能 (7 items)">性能</a>
            <a href="https://www.laruence.com/tag/%e6%80%a7%e8%83%bd%e4%bc%98%e5%8c%96"
                class="tag-cloud-link tag-link-573 tag-link-position-43" style="font-size: 9pt;"
                aria-label="性能优化 (3 items)">性能优化</a>
            <a href="https://www.laruence.com/tag/%e6%89%a9%e5%b1%95%e5%bc%80%e5%8f%91"
                class="tag-cloud-link tag-link-578 tag-link-position-44" style="font-size: 11.083333333333pt;"
                aria-label="扩展开发 (6 items)">扩展开发</a>
            <a href="https://www.laruence.com/tag/%e6%ad%a3%e5%88%99"
                class="tag-cloud-link tag-link-595 tag-link-position-45" style="font-size: 9pt;"
                aria-label="正则 (3 items)">正则</a></div>
    </section>
    <section id="text-6" class="widget widget_text">
        <h2 class="widget-title">Links</h2>
        <div class="textwidget">
            <ul>
                <li><a href="https://www.laruence.com/licence">Licence</a></li>
                <li><a href="https://www.laruence.com/sitemaps.xml">Sitemaps</a></li>
                <li><a href="https://www.laruence.com/feed">Site Feed</a></li>
                <li><a href="https://www.laruence.com/manual">Yaf Manual</a></li>
                <li><a href="https://www.laruence.com/sse">SSE Intrinsics Guide</a></li>
                <li><a href="https://www.laruence.com/x86">X86 Instruction Reference</a></li>
            </ul>
        </div>
    </section>

</aside>